{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Add a Suite</div>

A Suite is a named collection of spectra.

You can create as many of these as you like, and can then edit spectra to add to a suite.
<p>


{% if session.username is not none %}

<form action="{{url_for('add_suite')}}"   method=post>
    <input type=hidden name=person value={{person_id}}>
    <table>
      <tr><td>Name:  </td><td><input size=60 type=text name=suite_name></td></tr>
      <tr><td>Notes:  </td><td><textarea cols=60 rows=10 type=text name=notes>
                                </textarea></td></tr>
      <tr><td><input class="abutton" type=submit value=Submit></td><td></td></tr>
    </table>
</form>
{% else %}
You must be logged in to add a suite.
{% endif %}
</div>

{% endblock %}
