{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Add Spectrum to Suite:

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a class="abutton" href="{{url_for('add_suite')}}">Add a Suite</a>
{% endif %}

</div>
<p>

<form action="{{ url_for('submit_spectrum_to_suite') }}" method=post>
Add spectrum "{{ spectrum_name }}" to
    <input type=hidden name=person value={{person_id}}>
    <input type=hidden name=spectrum_id value={{spectrum_id}}>
    <input type=hidden name=spectrum_name value={{spectrum_name}}>
    <select id='suite_id' name='suite_id'>
      {% for suite in suites %}
	<option value={{suite.id}}> {{suite.name}}</option>
      {% endfor %}
    </select><p>
      <tr><td><input class="abutton" type=submit value=Submit></td><td></td></tr>
</form>

{% endblock %}
