{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Add a Facility</div>


<p> A Facility is a place that has one or more Beamlines.

  Check for
  existing facilities
  <a href="{{ url_for('facilities') }}"> existing facilities </a>

  to avoid duplication.<p>

{% if session.username is not none %}

<form action="{{ url_for('add_facility') }}"   method=post>
    <table>
      <tr><td>Name:</td>
	  <td><input size=60 type=text name=facility_name></td></tr>
      <tr><td>Laboratory:</td>
	   <td><input size=60 type=text name=facility_lab></td></tr>
      <tr><td>City:</td>
	   <td><input size=60 type=text name=facility_city></td></tr>
      <tr><td>Country:</td>
	   <td><input size=60 type=text name=facility_country></td></tr>
      <tr><td><input class="abutton" type=submit value=submit></td><td></td></tr>
    </table>
</form>
{% else %}
You must be logged in to add a facility.
{% endif %}
</div>
{% endblock %}
