{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Add a Citation

&nbsp;   &nbsp;

<a class="abutton" href="{{ url_for('citation') }}">show exisiting citations</a>

</div>

A Citation is published document used to describe the XAS spectrum or where
the spectrum was used in an analysis.  Please check for existing citations
to avoid duplication.

<p>

{% if session.username is none %}  You must be logged in to add a citation. {% else %}

<form action="{{ url_for('submit_citation_edits') }}" method=post>
     <table>
      <input type=hidden name=person_id   value={{person_id}}>
      <input type=hidden name=spectrum_id value={{spectrum_id}}>
      <input type=hidden name=citation_id value={{citation_id}}>
      <tr><td>Short Name:</td>
	   <td><input size=80 type=text name=name value={{name|safe}}></td></tr>
     <tr><td>Authors:</td>
	  <td><textarea cols=100 rows=3 type=text name=authors> {{authors|safe}}</textarea></td></tr>
      <tr><td>Title:</td>
          <td><textarea cols=100 rows=3 type=text name=title> {{title|safe}}</textarea></td></tr>
      <tr><td>Journal:</td>
	   <td><input size=80 type=text name=journal value={{journal|safe}}></td></tr>
      <tr><td>Volume:</td>
	   <td><input size=40 type=text name=volume value={{volume|safe}}></td></tr>
      <tr><td>Pages:</td>
	   <td><input size=40 type=text name=pages value={{pages|safe}}></td></tr>
      <tr><td>Year:</td>
	   <td><input size=40 type=text name=year value={{year|safe}}></td></tr>
      <tr><td>DOI:</td>
	   <td><input size=80 type=text name=doi value={{doi|safe}}></td></tr>
      <tr><td><input class="abutton" type=submit value=submit></td><td></td></tr>
    </table>
</form>

{% endif %}

</div>
{% endblock %}
