{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Beamlines:


{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{ url_for('add_beamline') }}"> [add a beamline] </a>
{% endif %}

&nbsp;   &nbsp;

<a href="{{ url_for('facilities') }}"> Facilities </a>


</div>


<div class=body>
<hr>
{% if nbeamlines == 0 %}
      No beamlines defined.
{% else %}

Click on heading labels to toggle sorting:

   <table cellspacing=3 cellpadding=1>
   <tr>
<th><a href="{{url_for('beamlines')}}/name/{{reverse}}">      &nbsp; Beamline &nbsp;</a></th>
<th><a href="{{url_for('beamlines')}}/nickname/{{reverse}}">  &nbsp; Nickname &nbsp;</a></th>
<th><a href="{{url_for('beamlines')}}/nspectra/{{reverse}}">  &nbsp; #Spectra &nbsp;</a></th>
<th><a hred="{{url_for('beamlines')}}/facility/{{reverse}}">  &nbsp; Facility &nbsp;</a></th>
<th> Location </th>    </tr>
   {% for bl in beamlines %}
       <tr class={{ loop.cycle('odd', 'even') }}>
       <td>  <a href="{{ url_for('beamline', blid=bl.id)}}"> {{bl.name}} </a></td>
	<td>  &nbsp; {{bl.nickname}}  &nbsp;</td>
	<td>  &nbsp; {{bl.nspectra}}  &nbsp;</td>
	<td>  &nbsp; {{bl.facility}}  &nbsp;</td>
	<td>  &nbsp; {{bl.location}}</td></tr>
   {% endfor %}
   </table>
   {% if nbeamlines == 1 %}
    Spectra:
    <table>
      {% for bl in beamlines %}
	  {% for spec in bl.spectra %}
	    <tr class={{ loop.cycle('odd', 'even') }}>
	    <td> &nbsp; &nbsp; <a href="{{url_for('spectrum',
					spid=spec.spectrum_id)}}">
		{{ spec.name }}</a></td>
	    <td> &nbsp; {{ spec.elem_sym }}  {{ spec.edge }} edge </td>
	    </tr>
	 {% endfor %}
      {% endfor %}
    </table>
   {% endif %}
{% endif %}

</div>
{% endblock %}
