{% extends "layout.html" %}
{% block body %}

<p> <div class=subtitle>Select Absorbing Element
({{ spectra_count }} spectra, {{ included_elems|length }} elements): </div>
</p>

<div class=body>
  <form action="{{ url_for('elem')}}" name="ptablefilter" method="post">
     <input type=hidden name=elem value={{elem}}>
     <table border=0 cellpadding=3>
       <tr><td>	  {% include "ptable.html" %}	</td>
	 <td>  {% include "filter_form.html" %} 	</td>
       </tr>
       <tr>
	<td> <hr> </td><td><hr></td><tr>
	<td rowspan=10>
          {% if spectra|count > 0 %}
	  {% if spectra|count == 1 %}
              {{ spectra|count }} spectrum for {{ elem }}
	  {% else %}
              {{ spectra|count }} spectra for {{ elem }}
   	  {% endif %}
          {% if ntotal > spectra|count %}  (filtered from {{ ntotal }}) {% endif %}

	  &nbsp;&nbsp; - &nbsp; Click on heading labels to toggle sorting:

	    <table cellspacing=5 cellpadding=2>
	      <tr>
		<th style="width: 260px;"><a href="{{url_for('elem')}}{{elem}}/name/{{reverse}}">
		    &nbsp; Name &nbsp;</a></th>
		<th style="width: 50px;"><a href="{{url_for('elem')}}{{elem}}/edge/{{reverse}}">
		    &nbsp; Edge &nbsp;</a></th>
		<th style="width: 140px;"><a href="{{url_for('elem')}}{{elem}}/beamline/{{reverse}}">
		    &nbsp; Beamline &nbsp;</a></th>
		<th style="width: 80px;"><a href="{{url_for('elem')}}{{elem}}/rating_summary/{{reverse}}">
		    &nbsp; Rating &nbsp;</a></th>
		<th>  Select </th>
	      </tr>

              {% for spec in spectra %}
	      <tr class={{ loop.cycle('odd', 'even') }}>
		<td> &nbsp; &nbsp; <a href="{{url_for('spectrum', spid= spec.id)}}"> {{ spec.name }}</a></td>
		<td> &nbsp; {{ spec.edge }} </td>
		<td> &nbsp; {{ spec.beamline_desc }} </td>
		<td> &nbsp; {{ spec.rating }} </td>
		<td> <input type="checkbox"  name="sel_{{spec.id}}"
			    {% if spec.id in selected_spectra %} checked="checked" {% endif %}>  </td>
	      </tr>
	      {% endfor %}
	    </table>
	    {% endif %}
	</td>

	<td>
          {% if spectra|count > 0 %}
	  Act on Selected Spectra:

	  <table cellpadding=4 border=0>
	    <tr>
	      <td><a  onclick="javascript:checkAll('ptablefilter', true);"
		      href="javascript:void();">Select All</a></td>
	      <td><a onclick="javascript:checkAll('ptablefilter', false);"
		     href="javascript:void();">Select None</a></td>
	    </tr><tr>
	      <td><input class='abutton' type=submit name=submit
			 style="width: 120px;"   value='Plot Spectra'> </td>
	      <td>(up to 20 spectra plotted)</td>
	    </tr><tr>
	      <td><input class='abutton' type=submit name=submit
			 style="width: 120px;" value='Save Zip File'></td>
	      <td>
	      </td>
	    </tr>
	      {% if owned_suites|count > 0 %}
	      <tr> <td>
		  <input class='abutton' type=submit name=submit
			 style="width: 120px;" value='Add to Suite'></td><td>
		  <select  name='target_suite' style="width: 200px;">
		    {% for s in owned_suites %} <option value={{s[0]}}> {{s[1]}}</option>  {% endfor %}
		  </select>
	      </td></tr>
	      {% endif %}
	  </table>
	    {% endif %}
	  </div>

</td></tr>
</table>
<script type="text/javascript">
  function checkAll(form, toggle)  {
      var checkboxes = new Array();
      checkboxes = document[form].getElementsByTagName('input');
      for (var i=0; i<checkboxes.length; i++)  {
          if (checkboxes[i].type == 'checkbox')  {
             checkboxes[i].checked = toggle;
     }
    }
  }
</script>

{% endblock %}
