{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle>Edit Facility:  {{ fac.name }}</div>


<form action="{{ url_for('submit_facility_edits') }}" method=post>
  <input type=hidden name=person_id value={{person_id}}>
  <input type=hidden name=facility_id value={{fac.id}}>
  <table>
    <tr><td colspan=2> <hr> </td></tr>
    <tr><td>Abbreviation:</td><td>
	<input size=60 type=text name=name value='{{fac.name|safe}}'></td></tr>
    <tr><td>Full Name:</td><td>
	<input size=125 type=text name=fullname value='{{fac.fullname|safe}}'></td></tr>
    <tr><td>Laboratory:</td><td>
        <input size=125 type=text name=laboratory value='{{fac.laboratory|safe}}'></td></tr>
    <tr><td>City:</td><td>
	<input size=125 type=text name=city value='{{fac.city|safe}}'></td></tr>
    <tr><td>Country:</td><td>
	<input size=125 type=text name=country value='{{fac.country|safe}}'></td></tr>

  <tr><td colspan=2> <hr> </td></tr>
     <tr><td><input class="abutton" type=submit value=submit></td><td></td></tr>
    </table>
</form>
</div>
{% endblock %}
