{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle>Edit Suite:  {{ name }}</div>

<form action="{{ url_for('submit_suite_edits') }}" method=post>
  <input type=hidden name=person value={{person_id}}>
  <input type=hidden name=suite  value={{id}}>
  <table>
    <tr><td colspan=2> <hr> </td></tr>
    <tr><td>Name:</td><td>
	<input size=60 type=text name=name value='{{name|safe}}'></td></tr>
    <tr><td> Comments: </td><td>
	<textarea cols=55  rows=10 type=text name=comments>{{notes|safe}}</textarea></td></tr>

    <tr><td> Spectra: </td><td>
      {% for s in spectra %}
	<input type="checkbox"  name="spec_{{s.spectrum_id}}" checked="checked"> {{s.name}} <br>
      {% endfor %} </td></tr>

  <tr><td colspan=2> <hr> </td></tr>
     <tr><td><input class="abutton" type=submit value=submit></td><td></td></tr>
    </table>
</form>
</div>
{% endblock %}
