{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Facilities:

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{ url_for('add_facility') }}"> [add a facility] </a>
{% endif %}

&nbsp;   &nbsp;

<a href="{{ url_for('beamlines') }}"> Beamlines </a>


</div>




<div class=body>
<hr>
<table cellspacing=3 cellpadding=1>
  <tr>
    <th> &nbsp; Abbreviation  &nbsp; </th>
    <th> &nbsp; Full Name  &nbsp; </th>
    <th> &nbsp; Laboratory  &nbsp; </th>
    <th> &nbsp; City / Region  &nbsp; </th>
    <th> &nbsp; Country  &nbsp;</th>
  </tr>
  {% for f in facilities %}
  <tr class={{ loop.cycle('odd', 'even') }}>
    <td>
    {% if session.username is not none %}
       <a href="{{ url_for('edit_facility', fid=f.id) }}"> {{f.name }}</a>
    {% else %}
       {{f.name }}
    {% endif %}
    </td>
    <td> {{f.fullname }} </td>
    <td>  &nbsp; {{f.laboratory}}  &nbsp; </td>
    <td>  &nbsp; {{f.city}}  &nbsp; </td>
    <td>  &nbsp; {{f.country}}</td></tr>
  {% endfor %}
</table>

</div>
{% endblock %}
