{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Reset Your Password/div>

<p>

Reset the password for {{email}}

<p>

  <form action="{{ url_for('setnewpassword') }}" method=post>
    <input type=hidden name=hashkey value={{hashkey}}>
    <input type=hidden name=email   value={{email}}>
    <table>
      <tr><td>Password:       </td>
	<td><input size=80 type=password name=password value=''></td>
      </tr>
      <tr><td>Repeat Password:</td>
	<td><input size=80 type=password name=password2 value=''></td>
      </tr>
      <tr><td><input class="abutton" type=submit name=button value='Reset Password'></td>
    </table>
  </form>
{% endblock %}
