{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Person:</div>

<div class=body>

<table cellspacing=3 cellpadding=1>
<tr><td>Email:</td><td> {{person.email}} </td></tr>
<tr><td>Name:</td><td>  {{person.name}} </td></tr>
<tr><td>Affiliation:</td><td>{{person.affiliation}}</td></tr>
</table>


This person is the owner of
{%if spectrum|count == 1 %} 1 spectrum{% else %} {{ spectra|count }} spectra{% endif %}, and
{%if suites|count == 1 %} 1 suite{% else %} {{ suites|count }} suites{% endif %}.

</div>
{% endblock %}
