
<table class="ptable" cellspacing=0 cellpadding=0><tr>
<td class=elem width=30> {%if 'H' in included_elems %} <a href="{{url_for('elem')}}H">H </a> {%else%} H {%endif%}</td>
<td colspan=16></td>
<td class=elem width=30> {%if 'He' in included_elems %} <a href="{{url_for('elem')}}He">He </a> {%else%} He {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'Li' in included_elems %} <a href="{{url_for('elem')}}Li">Li </a> {%else%} Li {%endif%}</td>
<td class=elem width=30> {%if 'Be' in included_elems %} <a href="{{url_for('elem')}}Be">Be </a> {%else%} Be {%endif%}</td>
<td colspan=2></td>
<td colspan=8 class=elem>
<a href="{{url_for('elem')}}All">Show All Spectra</a>
</td>
<td class=elem width=30> {%if 'B'  in included_elems %} <a href="{{url_for('elem')}}B ">B </a> {%else%} B {%endif%}</td>
<td class=elem width=30> {%if 'C'  in included_elems %} <a href="{{url_for('elem')}}C">C </a> {%else%} C {%endif%}</td>
<td class=elem width=30> {%if 'N'  in included_elems %} <a href="{{url_for('elem')}}N">N </a> {%else%} N {%endif%}</td>
<td class=elem width=30> {%if 'O'  in included_elems %} <a href="{{url_for('elem')}}O">O </a> {%else%} O {%endif%}</td>
<td class=elem width=30> {%if 'F'  in included_elems %} <a href="{{url_for('elem')}}F">F </a> {%else%} F {%endif%}</td>
<td class=elem width=30> {%if 'Ne' in included_elems %} <a href="{{url_for('elem')}}Ne">Ne </a> {%else%} Ne {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'Na' in included_elems %} <a href="{{url_for('elem')}}Na">Na </a> {%else%} Na {%endif%}</td>
<td class=elem width=30> {%if 'Mg' in included_elems %} <a href="{{url_for('elem')}}Mg">Mg </a> {%else%} Mg {%endif%}</td>
<td colspan=10></td>
<td class=elem width=30> {%if 'Al' in included_elems %} <a href="{{url_for('elem')}}Al">Al </a> {%else%} Al {%endif%}</td>
<td class=elem width=30> {%if 'Si' in included_elems %} <a href="{{url_for('elem')}}Si">Si </a> {%else%} Si {%endif%}</td>
<td class=elem width=30> {%if 'P'  in included_elems %} <a href="{{url_for('elem')}}P">P </a> {%else%} P {%endif%}</td>
<td class=elem width=30> {%if 'S'  in included_elems %} <a href="{{url_for('elem')}}S">S </a> {%else%} S {%endif%}</td>
<td class=elem width=30> {%if 'Cl' in included_elems %} <a href="{{url_for('elem')}}Cl">Cl </a> {%else%} Cl {%endif%}</td>
<td class=elem width=30> {%if 'Ar' in included_elems %} <a href="{{url_for('elem')}}Ar">Ar </a> {%else%} Ar {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'K' in included_elems %} <a href="{{url_for('elem')}}K">K </a> {%else%} K {%endif%}</td>
<td class=elem width=30> {%if 'Ca' in included_elems %} <a href="{{url_for('elem')}}Ca">Ca </a> {%else%} Ca {%endif%}</td>
<td class=elem width=30> {%if 'Sc' in included_elems %} <a href="{{url_for('elem')}}Sc">Sc </a> {%else%} Sc {%endif%}</td>
<td class=elem width=30> {%if 'Ti' in included_elems %} <a href="{{url_for('elem')}}Ti">Ti </a> {%else%} Ti {%endif%}</td>
<td class=elem width=30> {%if 'V'  in included_elems %} <a href="{{url_for('elem')}}V" >V  </a> {%else%} V  {%endif%}</td>
<td class=elem width=30> {%if 'Cr' in included_elems %} <a href="{{url_for('elem')}}Cr">Cr </a> {%else%} Cr {%endif%}</td>
<td class=elem width=30> {%if 'Mn' in included_elems %} <a href="{{url_for('elem')}}Mn">Mn </a> {%else%} Mn {%endif%}</td>
<td class=elem width=30> {%if 'Fe' in included_elems %} <a href="{{url_for('elem')}}Fe">Fe </a> {%else%} Fe {%endif%}</td>
<td class=elem width=30> {%if 'Co' in included_elems %} <a href="{{url_for('elem')}}Co">Co </a> {%else%} Co {%endif%}</td>
<td class=elem width=30> {%if 'Ni' in included_elems %} <a href="{{url_for('elem')}}Ni">Ni </a> {%else%} Ni {%endif%}</td>
<td class=elem width=30> {%if 'Cu' in included_elems %} <a href="{{url_for('elem')}}Cu">Cu </a> {%else%} Cu {%endif%}</td>
<td class=elem width=30> {%if 'Zn' in included_elems %} <a href="{{url_for('elem')}}Zn">Zn </a> {%else%} Zn {%endif%}</td>
<td class=elem width=30> {%if 'Ga' in included_elems %} <a href="{{url_for('elem')}}Ga">Ga </a> {%else%} Ga {%endif%}</td>
<td class=elem width=30> {%if 'Ge' in included_elems %} <a href="{{url_for('elem')}}Ge">Ge </a> {%else%} Ge {%endif%}</td>
<td class=elem width=30> {%if 'As' in included_elems %} <a href="{{url_for('elem')}}As">As </a> {%else%} As {%endif%}</td>
<td class=elem width=30> {%if 'Se' in included_elems %} <a href="{{url_for('elem')}}Se">Se </a> {%else%} Se {%endif%}</td>
<td class=elem width=30> {%if 'Br' in included_elems %} <a href="{{url_for('elem')}}Br">Br </a> {%else%} Br {%endif%}</td>
<td class=elem width=30> {%if 'Kr' in included_elems %} <a href="{{url_for('elem')}}Kr">Kr </a> {%else%} Kr {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'Rb' in included_elems %} <a href="{{url_for('elem')}}Rb">Rb </a> {%else%} Rb {%endif%}</td>
<td class=elem width=30> {%if 'Sr' in included_elems %} <a href="{{url_for('elem')}}Sr">Sr </a> {%else%} Sr {%endif%}</td>
<td class=elem width=30> {%if 'Y' in included_elems %} <a href="{{url_for('elem')}}Y">Y </a> {%else%} Y {%endif%}</td>
<td class=elem width=30> {%if 'Zr' in included_elems %} <a href="{{url_for('elem')}}Zr">Zr </a> {%else%} Zr {%endif%}</td>
<td class=elem width=30> {%if 'Nb' in included_elems %} <a href="{{url_for('elem')}}Nb">Nb </a> {%else%} Nb {%endif%}</td>
<td class=elem width=30> {%if 'Mo' in included_elems %} <a href="{{url_for('elem')}}Mo">Mo </a> {%else%} Mo {%endif%}</td>
<td class=elem width=30> {%if 'Tc' in included_elems %} <a href="{{url_for('elem')}}Tc">Tc </a> {%else%} Tc {%endif%}</td>
<td class=elem width=30> {%if 'Ru' in included_elems %} <a href="{{url_for('elem')}}Ru">Ru </a> {%else%} Ru {%endif%}</td>
<td class=elem width=30> {%if 'Rh' in included_elems %} <a href="{{url_for('elem')}}Rh">Rh </a> {%else%} Rh {%endif%}</td>
<td class=elem width=30> {%if 'Pd' in included_elems %} <a href="{{url_for('elem')}}Pd">Pd </a> {%else%} Pd {%endif%}</td>
<td class=elem width=30> {%if 'Ag' in included_elems %} <a href="{{url_for('elem')}}Ag">Ag </a> {%else%} Ag {%endif%}</td>
<td class=elem width=30> {%if 'Cd' in included_elems %} <a href="{{url_for('elem')}}Cd">Cd </a> {%else%} Cd {%endif%}</td>
<td class=elem width=30> {%if 'In' in included_elems %} <a href="{{url_for('elem')}}In">In </a> {%else%} In {%endif%}</td>
<td class=elem width=30> {%if 'Sn' in included_elems %} <a href="{{url_for('elem')}}Sn">Sn </a> {%else%} Sn {%endif%}</td>
<td class=elem width=30> {%if 'Sb' in included_elems %} <a href="{{url_for('elem')}}Sb">Sb </a> {%else%} Sb {%endif%}</td>
<td class=elem width=30> {%if 'Te' in included_elems %} <a href="{{url_for('elem')}}Te">Te </a> {%else%} Te {%endif%}</td>
<td class=elem width=30> {%if 'I' in included_elems %} <a href="{{url_for('elem')}}I">I </a> {%else%} I {%endif%}</td>
<td class=elem width=30> {%if 'Xe' in included_elems %} <a href="{{url_for('elem')}}Xe">Xe </a> {%else%} Xe {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'Cs' in included_elems %} <a href="{{url_for('elem')}}Cs">Cs </a> {%else%} Cs {%endif%}</td>
<td class=elem width=30> {%if 'Ba' in included_elems %} <a href="{{url_for('elem')}}Ba">Ba </a> {%else%} Ba {%endif%}</td>
<td class=elem width=30> {%if 'La' in included_elems %} <a href="{{url_for('elem')}}La">La </a> {%else%} La {%endif%}</td>
<td class=elem width=30> {%if 'Hf' in included_elems %} <a href="{{url_for('elem')}}Hf">Hf </a> {%else%} Hf {%endif%}</td>
<td class=elem width=30> {%if 'Ta' in included_elems %} <a href="{{url_for('elem')}}Ta">Ta </a> {%else%} Ta {%endif%}</td>
<td class=elem width=30> {%if 'W' in included_elems %} <a href="{{url_for('elem')}}W">W </a> {%else%} W {%endif%}</td>
<td class=elem width=30> {%if 'Re' in included_elems %} <a href="{{url_for('elem')}}Re">Re </a> {%else%} Re {%endif%}</td>
<td class=elem width=30> {%if 'Os' in included_elems %} <a href="{{url_for('elem')}}Os">Os </a> {%else%} Os {%endif%}</td>
<td class=elem width=30> {%if 'Ir' in included_elems %} <a href="{{url_for('elem')}}Ir">Ir </a> {%else%} Ir {%endif%}</td>
<td class=elem width=30> {%if 'Pt' in included_elems %} <a href="{{url_for('elem')}}Pt">Pt </a> {%else%} Pt {%endif%}</td>
<td class=elem width=30> {%if 'Au' in included_elems %} <a href="{{url_for('elem')}}Au">Au </a> {%else%} Au {%endif%}</td>
<td class=elem width=30> {%if 'Hg' in included_elems %} <a href="{{url_for('elem')}}Hg">Hg </a> {%else%} Hg {%endif%}</td>
<td class=elem width=30> {%if 'Tl' in included_elems %} <a href="{{url_for('elem')}}Tl">Tl </a> {%else%} Tl {%endif%}</td>
<td class=elem width=30> {%if 'Pb' in included_elems %} <a href="{{url_for('elem')}}Pb">Pb </a> {%else%} Pb {%endif%}</td>
<td class=elem width=30> {%if 'Bi' in included_elems %} <a href="{{url_for('elem')}}Bi">Bi </a> {%else%} Bi {%endif%}</td>
<td class=elem width=30> {%if 'Po' in included_elems %} <a href="{{url_for('elem')}}Po">Po </a> {%else%} Po {%endif%}</td>
<td class=elem width=30> {%if 'At' in included_elems %} <a href="{{url_for('elem')}}At">At </a> {%else%} At {%endif%}</td>
<td class=elem width=30> {%if 'Rn' in included_elems %} <a href="{{url_for('elem')}}Rn">Rn </a> {%else%} Rn {%endif%}</td>
</tr><tr>
<td class=elem width=30> {%if 'Fr' in included_elems %} <a href="{{url_for('elem')}}Fr">Fr </a> {%else%} Fr {%endif%}</td>
<td class=elem width=30> {%if 'Ra' in included_elems %} <a href="{{url_for('elem')}}Ra">Ra </a> {%else%} Ra {%endif%}</td>
<td class=elem width=30> {%if 'Ac' in included_elems %} <a href="{{url_for('elem')}}Ac">Ac </a> {%else%} Ac {%endif%}</td>
</tr><tr>
<td colspan=3></td>
<td class=elem width=30> {%if 'Ce' in included_elems %} <a href="{{url_for('elem')}}Ce">Ce </a> {%else%} Ce {%endif%}</td>
<td class=elem width=30> {%if 'Pr' in included_elems %} <a href="{{url_for('elem')}}Pr">Pr </a> {%else%} Pr {%endif%}</td>
<td class=elem width=30> {%if 'Nd' in included_elems %} <a href="{{url_for('elem')}}Nd">Nd </a> {%else%} Nd {%endif%}</td>
<td class=elem width=30> {%if 'Pm' in included_elems %} <a href="{{url_for('elem')}}Pm">Pm </a> {%else%} Pm {%endif%}</td>
<td class=elem width=30> {%if 'Sm' in included_elems %} <a href="{{url_for('elem')}}Sm">Sm </a> {%else%} Sm {%endif%}</td>
<td class=elem width=30> {%if 'Eu' in included_elems %} <a href="{{url_for('elem')}}Eu">Eu </a> {%else%} Eu {%endif%}</td>
<td class=elem width=30> {%if 'Gd' in included_elems %} <a href="{{url_for('elem')}}Gd">Gd </a> {%else%} Gd {%endif%}</td>
<td class=elem width=30> {%if 'Tb' in included_elems %} <a href="{{url_for('elem')}}Tb">Tb </a> {%else%} Tb {%endif%}</td>
<td class=elem width=30> {%if 'Dy' in included_elems %} <a href="{{url_for('elem')}}Dy">Dy </a> {%else%} Dy {%endif%}</td>
<td class=elem width=30> {%if 'Ho' in included_elems %} <a href="{{url_for('elem')}}Ho">Ho </a> {%else%} Ho {%endif%}</td>
<td class=elem width=30> {%if 'Er' in included_elems %} <a href="{{url_for('elem')}}Er">Er </a> {%else%} Er {%endif%}</td>
<td class=elem width=30> {%if 'Tm' in included_elems %} <a href="{{url_for('elem')}}Tm">Tm </a> {%else%} Tm {%endif%}</td>
<td class=elem width=30> {%if 'Yb' in included_elems %} <a href="{{url_for('elem')}}Yb">Yb </a> {%else%} Yb {%endif%}</td>
<td class=elem width=30> {%if 'Lu' in included_elems %} <a href="{{url_for('elem')}}Lu">Lu </a> {%else%} Lu {%endif%}</td><td></td>
</tr><tr>
<td colspan=3></td>
<td class=elem width=30> {%if 'Th' in included_elems %} <a href="{{url_for('elem')}}Th">Th </a> {%else%} Th {%endif%}</td>
<td class=elem width=30> {%if 'Pa' in included_elems %} <a href="{{url_for('elem')}}Pa">Pa </a> {%else%} Pa {%endif%}</td>
<td class=elem width=30> {%if 'U' in included_elems %} <a href="{{url_for('elem')}}U">U </a> {%else%} U {%endif%}</td>
<td class=elem width=30> {%if 'Np' in included_elems %} <a href="{{url_for('elem')}}Np">Np </a> {%else%} Np {%endif%}</td>
<td class=elem width=30> {%if 'Pu' in included_elems %} <a href="{{url_for('elem')}}Pu">Pu </a> {%else%} Pu {%endif%}</td>
<td class=elem width=30> {%if 'Am' in included_elems %} <a href="{{url_for('elem')}}Am">Am </a> {%else%} Am {%endif%}</td>
<td class=elem width=30> {%if 'Cm' in included_elems %} <a href="{{url_for('elem')}}Cm">Cm </a> {%else%} Cm {%endif%}</td>
<td class=elem width=30> {%if 'Bk' in included_elems %} <a href="{{url_for('elem')}}Bk">Bk </a> {%else%} Bk {%endif%}</td>
<td class=elem width=30> {%if 'Cf' in included_elems %} <a href="{{url_for('elem')}}Cf">Cf </a> {%else%} Cf {%endif%}</td>
<td class=elem width=30> {%if 'Es' in included_elems %} <a href="{{url_for('elem')}}Es">Es </a> {%else%} Es {%endif%}</td>
<td class=elem width=30> {%if 'Fm' in included_elems %} <a href="{{url_for('elem')}}Fm">Fm </a> {%else%} Fm {%endif%}</td>
<td class=elem width=30> {%if 'Md' in included_elems %} <a href="{{url_for('elem')}}Md">Md </a> {%else%} Md {%endif%}</td>
<td class=elem width=30> {%if 'No' in included_elems %} <a href="{{url_for('elem')}}No">No </a> {%else%} No {%endif%}</td>
<td class=elem width=30> {%if 'Lr' in included_elems %} <a href="{{url_for('elem')}}Lr">Lr </a> {%else%} Lr {%endif%}</td><td></td>
</tr><tr>
</table>
