{% extends "layout.html" %}
{% block body %}

<div class=subtitle> Spectrum: {{spectrum_name}} </div>
<div class=body>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
      @import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400);
      div.stars {width: 175px;  display: inline-block;}
      input.star {display: none;}
      label.star {float: right;   padding: 5px;  font-size: 18px;  color: #646464;  transition: all .2s;}
      input.star:checked ~ label.star:before {  content: '\f005';  color: #E9B530;  transition: all .2s;}
      input.star-5:checked ~ label.star:before { color: #E9B530;   text-shadow: 0 0 1px #A39420;}
      label.star:hover {transform: scale(1.00);  text-shadow: 0 0 0px #E9B530;}
      label.star:before {content: '\f006';  font-family: FontAwesome;}
</style>


{% if session.username is not none %}

<form action="{{ url_for('submit_spectrum_rating') }}" method=post>
    <input type=hidden name=person value={{person_id}}>
    <input type=hidden name=spectrum value={{spectrum_id}}>
    <input type=hidden name=spectrum_name value={{spectrum_name}}>

<table>
<tr><td>Rating:</td>
<td align='left'>
    <div class='stars'>
    <input class="star star-5" id="star-5" type="radio" name='score' value='5' {% if score == '5' %} checked {% endif %}/>
    <label class="star star-5" for="star-5"></label>

    <input class="star star-4" id="star-4" type="radio" name='score' value='4' {% if score == '4' %} checked {% endif %}/>
    <label class="star star-4" for="star-4"></label>

    <input class="star star-3" id="star-3" type="radio" name='score' value='3' {% if score == '3' %} checked {% endif %}/>
    <label class="star star-3" for="star-3"></label>

    <input class="star star-2" id="star-2" type="radio" name='score' value='2' {% if score == '2' %} checked {% endif %}/>
    <label class="star star-2" for="star-2"></label>

    <input class="star star-1" id="star-1" type="radio" name='score' value='1' {% if score == '1' %} checked {% endif %}/>
    <label class="star star-1" for="star-1"></label>
    </div>

</td> <td align='left'> <input class="abutton" type="submit" name="submit" value="Submit" /> </td></tr>
<tr><td>Review:</td><td></td></tr>
<tr><td colspan=3><textarea cols=85 rows=15 type=text name=review>{{review|safe}}
</textarea></td></tr>
</table>
</form>
</div>

{% else %}
You must be logged in to rate a spectrum.
{% endif %}

</div>

{% endblock %}
