{% extends "layout.html" %}
{% block body %}

<p> <div class=subtitle> Sample:

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{url_for('edit_sample', sid=sid)}}"> [edit this sample] </a>
{% endif %}

</div>
<div class=body>


<table>
<tr><td width=12%> Name: </td> <td>  {{name}} </td></tr>
<tr><td width=12%> Formula: </td> <td>  {{formula}} </td></tr>
<tr><td width=12%> Notes: </td> <td>  {{notes}} </td></tr>
<tr><td width=12%> Preparation: </td> <td>  {{preparation}} </td></tr>
</table>

<hr>

{% if spectra|count == 0 %}
    No spectra use this sample.
{% else %}
    This sample is used by the following Spectra:<p>
    {% for s in spectra %}
 &nbsp; &nbsp;
<a href="{{url_for('spectrum', spid=s.id)}}"> {{ s.name }}</a> &nbsp; &nbsp; <br>
     {% endfor %}
{% endif %}


</div>
{% endblock %}
