{% extends "layout.html" %}
{% block body %}

<p>
<div class=subtitle> Spectrum:  {{ spectrum_name }}


{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{url_for('add_spectrum_to_suite', spid=spectrum_id)}}"> [add to a suite] </a>  &nbsp;   &nbsp;
  <a href="{{url_for('rate_spectrum', spid=spectrum_id) }}"> [rate] </a>

{% endif %}

{% if spectrum_owner %}
&nbsp;   &nbsp;
  <a href="{{url_for('edit_spectrum',  spid=spectrum_id)}}"> [edit] </a>
&nbsp;   &nbsp;
  <a href="{{url_for('delete_spectrum', spid=spectrum_id)}}"> [delete] </a>
 {% endif %}
<p>

</div>

<div class=body>


<div style="width:55%; float: left;">

  <table>
    <td>Original Data File: </td>
    <td> <a href="{{url_for('rawfile', spid=spectrum_id, fname=xdi_filename)}}">
	{{ spectrum_name }}.xdi </a>
    </td></tr>

    <tr><td> Short Description: </td> <td> {{ description  }} </td></tr>
    <tr><td width=25%> Ratings: </td>
      <td> <a href="{{url_for('showspectrum_rating', spid=spectrum_id)}}"> {{ rating }} </a>
      </td>
    </tr>

<tr><td> Suites:  </td>  <td>
  {% if nsuites == 0 %}
    No suites contain this spectrum
  {% else %}
     {% for s in suites %}
	<a href="{{url_for('suites', stid=s.id)}}"> {{ s.name }}</a> &nbsp; &nbsp;
     {% endfor %}
  {% endif %}
</td></tr>

<tr><td> Absorption Edge:   </td> <td> <a href="{{url_for('elem')}}/{{elem_sym}}">{{ elem_sym }}</a> {{ edge }} edge  </td></tr>
<tr><td> Measurement Mode:  </td> <td> {{ mode  }} </td></tr>
<tr><td> Beamline:         </td> <td>
    {% if  beamline_id != '-1' %}
	<a href="{{url_for('beamline')}}/{{beamline_id}}"> {{ beamline_desc }}</a> &nbsp; &nbsp;
    {% else %} {{ beamline_desc }} &nbsp; &nbsp;
    {% endif %} </td></tr>
<tr><td> Mono d-spacing:    </td> <td> {{ d_spacing }} &#197; ({{mononame}})   </td></tr>
<tr><td> Energy Units:      </td> <td> {{ energy_units }}  </td></tr>
<tr><td> Energy Resolution: </td> <td> {{ energy_resolution }}   </td></tr>

<tr><td></td></tr>
<tr><td> Sample Name:      </td> <td> <a href="{{url_for('sample', sid=sample_id)}}"> {{sample_name}} </a> {{sample_prep}} </td></tr>
<tr><td> Reference Sample: </td> <td> {{reference_sample}} </td></tr>
<tr><td></td></tr>
<tr><td> Citation:        </td> <td>
    {% if  citation_id != '-1' %}
       <a href="{{url_for('citation')}}/{{citation_id}}"> {{ citation_name }}</a> &nbsp; &nbsp;
    {% else %}
       {% if spectrum_owner %}
	 <a href="{{url_for('add_citation')}}"> [add citation] </a>
       {% else %} {{ citation_name }} &nbsp; &nbsp;
       {% endif %}
{% endif %} </td></tr>
<tr><td></td></tr>
<tr><td> Date Measured:   </td> <td>  {{collection_date}}     </td></tr>
<tr><td> Date Uploaded:   </td> <td>  {{upload_date}}, {{ person_name }} ({{ person_email }})    </td></tr>


<tr><td> User Comments:   </td>  <td>   {{ comments|safe }} </td></tr>
<tr><td colspan=2> <hr> </td></tr>
<tr><td colspan=2> &nbsp;&nbsp;&nbsp; <i>unsorted file headers:</i> </td></tr>

{% for x in misc %}
   <tr><td> {{x.key}}: </td><td> {{x.val|safe}} </td></tr>
{% endfor %}


</table>
</div>

<div style="width: 45%; float: right;">
<table> <tr>

    <div id="xasplot">
      <script  type="text/javascript">
	var graph = {{xasplot | safe}};
	Plotly.plot('xasplot',   graph.data,   graph.layout || {},  config=graph.config);
      </script>
    </div>

    <a href="{{url_for('spectrum')}}/{{spectrum_id}}/{{plotstyle}}">
      Switch Plot to  {{plotstyle_label}} </a>
</div>
{% endblock %}
