{% extends "layout.html" %}
{% block body %}
<p> <div class=subtitle> Suites of Spectra

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a class="abutton" class="abutton" href="{{url_for('add_suite')}}">add a suite</a>
{% endif %}

</div>
<p>

<div class=body>
<hr>
{% if nsuites == 0 %}
      No suites defined.
{% else %}
    <table cellspacing=0 cellpadding=3 border=0>
<tr>
  <th width="20%"> Name</th>
  <th widht="10%"> # Spectra</th>
  <th width="35%" align='left'> Description</th>
  <th width="35%">  &nbsp; &nbsp; Ratings</th>
   {% for s in suites %}
       <tr class={{ loop.cycle('odd', 'even') }}>
       <td><a href="{{url_for('suites')}}/{{ s.id }}"> {{ s.name }}</a></td>
       <td> {{ s.nspectra }} </td>
       <td align='left'>{{s.notes|safe}} </td>
       <td> &nbsp; &nbsp; <a href="{{url_for('showsuite_rating', stid=s.id)}}"> {{s.rating}} &nbsp;
	{% if session.username is not none %}
	   <a class="abutton" href="{{url_for('rate_suite', stid=s.id)}}">rate this suite</a>
           {% if s.suite_owner %}
             &nbsp; <a class="abutton" href="{{url_for('edit_suite', stid=s.id)}}">edit this suite</a>
 	     &nbsp; <a class="abutton" href="{{url_for('delete_suite', stid=s.id, ask=1)}}">delete this suite</a>
           {% endif %}
        {% endif %}
	</td></tr>
   {% endfor %}
   </table>
   {% if nsuites == 1 %}
    Spectra:
    <table>
      {% for suite in suites %}
	  {% for spec in suite.spectra %}
	    <tr class={{ loop.cycle('odd', 'even') }}>
	    <td> &nbsp; &nbsp; <a href="{{url_for('spectrum')}}{{ spec.spectrum_id }}"> {{ spec.name }}</a></td>
	    <td> &nbsp; {{ spec.elem_sym }}  {{ spec.edge }} edge </td>
	    </tr>
	 {% endfor %}
     {% endfor %}
    </table>
   {% endif %}
{% endif %}

</div>
{% endblock %}
