

<input type=hidden name=person_id value={{person_id}}>
<input type=hidden name=fullpath value="{{fullpath|safe}}">

<table border=0>

<tr><td colspan=2>
Uploaded File: {{filename}} has {{narrays}} array columns with {{npts}} data points.
</td>
</tr>
<tr><td colspan=2><hr></td></tr>

<tr><td>Name:</td><td>
<input  style="width: 350px;" type=text name=filename
	value='{{filename|safe}}'></td></tr>
<tr><td>Description:</td><td>
<input style="width: 350px;" type=text name=description value='{{description|safe}}'></td></tr>
<tr><td></td><td> <hr> </td></tr>

<tr><td> Element & Edge: </td><td><select name='elem_sym' style="width: 100px;">
{% for el in elems %}
    <option value={{el.symbol}} {% if el.symbol == elem_sym %} selected=1 {% endif %}>{{ el.symbol }}</option>
{% endfor %}
    </select>
    &nbsp;    &nbsp;
    <select  name='edge' style="width: 100px;">
{% for ename in edges %}
    <option value="{{ename}}" {% if ename==edge %} selected=1 {% endif %} > {{ ename }}</option>
{% endfor %}
</select>
</td></tr>

<tr><td> Energy Units:  </td><td><select  name='energy_units' style="width: 100px;">
{% for e in eunits %}
    <option value="{{e}}" {% if e == energy_units %} selected=1 {% endif %} > {{e}} </option>
{% endfor %}
</select>
</td></tr>

<tr>
  <script type="text/javascript">
    function set_dspacing() {
    var dvals = ['-1',  '3.1355893',  '1.9201484',  '1.6375081'];
    var mono = document.getElementById("mono_name");
    document.getElementById("d_spacing").value = dvals[mono.selectedIndex];
    }
  </script>

  <td> Mono d-spacing: </td><td>
    <input size=15 type=text id="d_spacing" name=d_spacing  value={{d_spacing}}> &#197;
    &nbsp; Mono Crystal:
    <select  name='mono_name' id="mono_name" style="width: 100px;" onchange="set_dspacing()">
      {% for mname in gen_monos %}
      <option value="{{ mname }}"{% if mname == mono_name  %} selected=1 {% endif %} >
	{{ mname }}</option>
      {% endfor %}
    </select>
  </td>
</tr>

<tr><td> Energy Resolution: </td><td>
    <input size=50 type=text name=e_resolution value="{{e_resolution|safe}}"> </td></tr>
</td></tr>

<tr><td> Beamline: </td><td><select  name='beamline' style="width: 300px;">
{% for bl in beamlines %}
    <option value="{{bl}}" {% if bl == beamline %} selected=1 {% endif %} > {{bl}}</option>
{% endfor %}
</select>
</td></tr>

<tr><td> Date Measured:   </td> <td>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='jquery.simple-dtpicker.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery.simple-dtpicker.css')}}"/>

    <input type="text" name="collection_date"  value="{{collection_date|safe}}">
    <script type="text/javascript">	$(function(){ $('*[name=collection_date]').appendDtpicker(); });	</script>
</td></tr>


  <script type="text/javascript">
    function on_DataMode() {
    var refmode = document.getElementById("mode");
    var dis = false;
    if (refmode.selectedIndex == 0) {
       document.getElementById("it_arrayname").disabled = false;
       document.getElementById("is_mutrans").disabled = false;
       document.getElementById("if_arrayname").disabled = true;
       document.getElementById("is_mufluor").disabled = true;
    } else {
       document.getElementById("it_arrayname").disabled = true;
       document.getElementById("is_mutrans").disabled = true;
       document.getElementById("if_arrayname").disabled = false;
       document.getElementById("is_mufluor").disabled = false;
    }
    }
  </script>

<tr><td></td><td> <hr> </td></tr>
<tr><td> Measurement Mode:  </td><td>
    <select  name='mode' id="mode" style="width: 250px;" onchange="on_DataMode()">
{% for mname in modes %}
    <option value="{{mname}}" {% if mname==mode %} selected=1 {% endif %} > {{ mname }}</option>
{% endfor %}
</select>
</td></tr>

<td>Energy Column: </td><td><select name='en_arrayname' style="width: 250px;">
{% for a in array_labels %}
    <option value={{a}} {% if a == en_arrayname %} selected=1 {% endif %} > {{ a }}</option>
{% endfor %}
</select>
</td></tr>

<td>I0 Column: </td><td><select name='i0_arrayname' style="width: 250px;">
{% for a in array_labels %}
    <option value={{a}} {% if a == i0_arrayname %} selected=1 {% endif %} > {{ a }}</option>
{% endfor %}
</select>
</td></tr>

<td>Transmission Column: </td><td>
  <select name='it_arrayname' id="it_arrayname" style="width: 250px;"
	  {% if mode != 'transmission' %}  disabled {% endif %} >
{% for a in array_labels %}
    <option value={{a}} {% if a == it_arrayname %} selected=1 {% endif %} >{{ a }}</option>
{% endfor %}
</select>
&nbsp; <input type="checkbox"  id="is_mutrans" name="is_mutrans" {% if
	      is_mutrans %} checked {% endif %} 	  {% if mode != 'transmission' %}  disabled {% endif %} > mu_trans (not I_trans)? </input>
</td></tr>

<td> Fluorescence Column: </td><td>
  <select name='if_arrayname' ' id="if_arrayname"  style="width: 250px;"
	  {% if mode == 'transmission' %}  disabled {% endif %} >
{% for a in array_labels %}
    <option value={{a}} {% if a == if_arrayname %} selected=1 {% endif %} >{{ a }}</option>
{% endfor %}
</select>
  &nbsp; <input type="checkbox"  id="is_mufluor" name="is_mufluor"
		{% if is_mufluor %} checked {% endif %}  {% if mode == 'transmission' %}  disabled {% endif %}>  mu_fluor (not I_fluor)? </input>
</td></tr>

  <script type="text/javascript">
    function on_ReferMode() {
    var refmode = document.getElementById("ref_mode");
    var dis = false;
    if (refmode.selectedIndex == 0) { dis = true;}
        document.getElementById("ir_arrayname").disabled =dis;
        document.getElementById("is_murefer").disabled = dis;
        document.getElementById("reference_sample").disabled = dis;
    }
  </script>

<td> Reference Mode: </td>
<td><select name="ref_mode" id="ref_mode" style="width: 250px;"  onchange="on_ReferMode()">
    {% for a in ref_modes %}
    <option value="{{a}}" {% if a == ref_mode %} selected=1 {% endif %} > {{ a }}</option>
    {% endfor %}
  </select>
</td></tr>

<td> Reference Column: </td>
<td><select name='ir_arrayname' id="ir_arrayname" style="width: 250px;"
	  {% if ref_mode == ref_modes[0] %}  disabled {% endif %} >
    {% for a in array_labels %}
    <option value="{{a}}" {% if a == ir_arrayname %} selected=1 {% endif %} >{{ a }}</option>
    {% endfor %}
  </select>
  &nbsp; <input type="checkbox"  id="is_murefer" name="is_murefer"
		{% if is_murefer %} checked {% endif %}
		{% if ref_mode == ref_modes[0] %}  disabled {% endif %} >  mu_refer (no I_ref)? </input>
</td></tr>

<tr><td> Reference Sample: </td><td>
    <input size=50 type=text name="reference_sample" id="reference_sample"
	   {% if ref_mode == ref_modes[0] %}  disabled {% endif %}
	   value="{{reference_sample|safe}}">
</td></tr>

<tr><td></td><td> <hr> </td></tr>


<tr><td> Sample Name: </td><td>
    <input size=50 type=text name="sample_name" id="sample_name"
	   value="{{sample_name|safe}}"    {% if sample != 0 %}  disabled {% endif %}   >
</td></tr>

<tr><td> Sample Fomula: </td><td>
    <input size=50 type=text name="sample_formula" id="sample_formula"
	   value="{{sample_formula|safe}}"    {% if sample != 0 %}  disabled {% endif %}   >

</td></tr>

<tr><td> Sample Preparation: </td><td>
    <input size=50 type=text name="sample_prep" id="sample_prep"
	   value="{{sample_prep|safe}}"   {% if sample != 0 %}  disabled {% endif %}   >
</td></tr>

<tr><td> Sample Notes: </td><td>
    <input size=50 type=text name="sample_notes" id="sample_notes"
	   value="{{sample_notes|safe}}"   {% if sample != 0 %}  disabled {% endif %}   >
</td></tr>


  <script type="text/javascript">
    function on_Sample() {
    var sample = document.getElementById("sample");
    var dis = true;
    if (sample.selectedIndex == 0) { dis = false;}
        document.getElementById("sample_notes").disabled =dis;
        document.getElementById("sample_prep").disabled = dis;
        document.getElementById("sample_name").disabled = dis;
        document.getElementById("sample_formula").disabled = dis;
    }
  </script>

<tr><td> Use Existing Sample?: </td><td><select  name='sample' id="sample"
      style="width: 300px;" onchange="on_Sample()">
      {% for s in samples %}
      <option value="{{s[0]}}" {% if s[0] == sample  %} selected=1 {% endif %}> {{ s[1]}} </option>
      {% endfor %}
    </select>
</td></tr>

<tr><td> User Comment: </td><td>
<textarea cols=50  rows=3 type=text name=comments>{{comments|safe}}</textarea></td></tr>
<tr><td colspan=2> <hr> </td></tr>
<tr><td><input class="abutton" type=submit name=submit value="Verify Data"></td>
  <td>
    {% if verify_ok %} <input class="abutton" type=submit name=submit value="Confirm and Upload">  {% endif %}
</td></tr>
</table>
