{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> Upload XAS Spectra to the X-ray Absorption Data Library: </div>
<div class=body>

  <p>
    {% if session.username is not none %}

    <form action="{{ url_for('edit_upload') }}"
	  method=post enctype=multipart/form-data>
      <input type=hidden name=person_id value={{person_id}}>

      Select a data file:   <input type=file size=170 name=filename>  &nbsp;
      <input type=submit   value="Edit and Verify Data for Upload">
    </form>

    {% else %}

    You must be logged in to upload data.
{% endif %}

<p>

  <hr>
  Notes on Uploading Files:
<p>


<ul>
  <li> Uploaded files must be ASCII files no larger than 16Mb with a
    <b>Header Section</b> followed by a <b>Data Table Section</b>.

  <li> The <b>Header Section</b> contains strings that describe the
    meta-data for the data file.  Ideally, these will follow the
    <a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/blob/master/specification/spec.md'>
      XAS Data Interchange Specification</a>.

    <li> The <b>Data Table Section</b> contains columns for indvidual
      arrays.  Columns should be separated or <i>delimited</i> by a
      combination of spaces or tabs. Each line of the file
      (ending with a Newline and optional Carriage Return character)
      corresponds to one row of  the Data Table,   representing a different
      energy point for the data.  Up to 16 columns will be accessible.

</ul>


<br>
Somewhere in the first sixteen columns there <b>Must</b> be columns for

<ol>
  <li> <b>Energy</b> or <b>Monochromator Angle</b>, either in units of
    eV,  keV, or degrees.

  <li> Arrays that can be used to build mu(Energy).  These could be columns
       of <b>I_0</b>, <b>I_transmission</b>, <b>I_fluorescence</b>, or
       <b>mu_transmission</b>,  <b>mu_fluorescence</b>.  Note that it is
       OK to have other emission modes than fluorescence -- they will be
       treated in the same way as fluorescence data.

</ol>

Some additional notes:

<ol>
  <li>Ideally, the Energy array will be in one of the first few columns of
    the Data Table and will be strictly increasing. The data will be sorted
    so that energy is strictly increasing if it is not.

    <li> Ideally, there will be a separate column of <b>I_0</b>, but this is
      not required.

    <li> You can include data for a reference channel, either
      <b>I_reference</b>, or <b>mu_referencee</b>.  Note that the reference
      channel can either be in transmission (with reference sample after the
      <b>I_transmission</b>, so that <b>mu_reference =	-log(I_reference/I_transmission)</b>
      or in fluorescence (ELF) mode, so that <b>mu_reference = I_reference/I_0</b>.


</ol>

When uploading data, we assume that you understand all of these points. You
will also be expected to select columns and fill in values for some
metadata including:

<ul>
  <li> Sample Name
  <li> Absorbing Element and Edge
  <li> Monochromator d-spacing or nominal reflecting cut
  <li> Energy units
  <li> Beamline
  <li> Measurement Mode
</ul>


Because uploading file uses finite and non-free computing resources, we
reserve the right to restrict or remove any data for any reason without
notice and to ban users who abuse the ability to upload data.


<p> For example files, see example data files at

<a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/tree/master/data'>
Example XDI data</a> and

<a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/tree/master/data'>
Example XDI data</a> and
<a href='https://github.com/XraySpectroscopy/XASDataLibrary/tree/master/data'>
Initial X-ray Absorption Data</a>.

<br> For a detailed description of XDI files, see <a
href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/blob/master/specification/spec.md'>
XAS Data Interchange Specification</a>. <br>

<hr>

</div>

{% endblock %}
