{% extends "layout.html" %}
{% block body %}

<p><div class=subtitle> User Profile: for {{email}}</div>

{% if session.username is not none %}


<form action="{{ url_for('user') }}" method=post>
  <input type=hidden name=email value={{email}}>
    <table>
      <tr><td>Full Name:</td>
	  <td><input size=60 type=text name=name value='{{name|safe}}'></td></tr>
      <tr><td>Affiliation:</td>
	<td><input size=60 type=text  name=affiliation value='{{affiliation|safe}}'></td></tr>
      <tr><td><input class="abutton" type=submit name=button value='Update Account'></td>
    </table>
</form>
{% else %}
You must be logged in to view user profiles
{% endif %}

</div>
{% endblock %}
