{% extends "layout.html" %}
{% block body %}

<div class=subtitle>Verify Upload: </div>

<div class=body style="overflow: hidden;">
<div style="width:60%; float: left;">
  <form action="/submit_upload" method=post>
    {% include "upload_edittable.html" %}
  </form>
</div>

<div style="width: 40%; float: right;">
  <i>Plot of mu(E): </i> <p>

    {% if mufig != 'noplot' %}  <img width=375  src="data:image/png;base64,{{ mufig|safe }}"> {% endif %}

  <p> <i>Verification and Warning Messages: </i> <p>

    Edge energy = {{verify_edge_energy}}<p>
    Edge jump = {{verify_edge_step}}<p>
    Energy range = {{verify_edge_range}}<p>

  <p>  <font size=-1>{% for a in verify_messages  %} {{ a }} <p> {%endfor%}</font>
  <p>  <font color='#AA2222'' size=-1>{% for a in verify_errors  %} {{ a }} <p> {%endfor%}</font>


</div>
</div>
{% endblock %}
