{% extends "layout.html" %}
{% block body %}

<div class=subtitle>Verify Upload: </div>

<div class=body style="overflow: hidden;">
<div style="width:55%; float: left;">
  <form action="/submit_upload" method=post>
    {% include "upload_edittable.html" %}
  </form>
</div>

<div style="width: 45%; float: right;">
  <script src="{{ url_for('static', filename='plotly_v1.54.1.js')}}"></script>
<p> <i>Verification and Warning Messages: </i> <p>
  <p>  <font size=-1>{% for a in verify_messages  %} {{ a }} <p> {%endfor%}</font>
  <p>  <font color='#AA2222'' size=-1>{% for a in verify_errors  %} {{ a }} <p> {%endfor%}</font>
  <p>
    Edge energy = {{verify_edge_energy}},   Edge jump =
    {{verify_edge_step}},   Energy range = {{verify_edge_range}}

<div id="mu_plot">
  {% if muplot != 'noplot' %}
  <script  type="text/javascript">
    var graph = {{muplot | safe}};
    Plotly.plot('mu_plot',   graph.data,   graph.layout || {},  config=graph.config);
  </script>
{% endif %}
</div>

  <p>
    <i>Header from data file </i> <p>
    <font size=-2>{% for a in header %} {{ a }} <br> {%endfor%}</font>

</div>
</div>
{% endblock %}
