{% extends "layout.html" %}
{% block body %}
<p> <div class=subfont> Add Spectrum to Suite</div>

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{url_for('add_suite')}}"> [add a suite] </a>
{% endif %}
<p>

<form action="{{ url_for('submit_spectrum_to_suite') }}" method=post>
Add {{ spectrum_name }} to
    <input type=hidden name=person value={{person_id}}>
    <input type=hidden name=spectrum_id value={{spectrum_id}}>
    <input type=hidden name=spectrum_name value={{spectrum_name}}>
    <select id='suite_id' name='suite_id'>
      {% for suite in suites %}
	<option value={{suite.id}}> {{suite.name}}</option>
      {% endfor %}
    </select>
      <tr><td><input type=submit value=submit></td><td></td></tr>
  </form>

{% endblock %}
