{% extends "layout.html" %}
{% block body %}

<p> <div class=subfont> Beamlines

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{ url_for('add_beamline') }}"> [add a beamline] </a>
  &nbsp;   &nbsp;
  <a href="{{ url_for('add_facility') }}"> [add a facility] </a>
{% endif %}

</div>

<div id='spectra'>
<hr>
{% if nbeamlines == 0 %}
      No beamlines defined.
{% else %}
   <table cellspacing=3 cellpadding=1>
    <tr><th>Abbreviation</th>
<th> # Spectra</ht><th>Name</th><th> X-ray Source</th><th>Facility Location</th></tr>
   {% for bl in beamlines %}
       <tr id="{{ loop.cycle('odd', 'even') }}">
       <td>  <a href="{{ url_for('beamline', blid=bl.id)}}"> {{bl.name}} at {{bl.fac_name}} </a></td>
	<td>  &nbsp; {{bl.nspectra}}  &nbsp;</td>
	<td>  &nbsp; {{bl.notes}}  &nbsp; </td>
	<td>  &nbsp; {{bl.xray_source}}  &nbsp; </td>
	<td>  &nbsp; {{bl.fac_loc}}</td></tr>
   {% endfor %}
   </table>
   {% if nbeamlines == 1 %}
    Spectra:
    <table>
      {% for bl in beamlines %}
	  {% for spec in bl.spectra %}
	    <tr id="{{ loop.cycle('odd', 'even') }}" >
	    <td> &nbsp; &nbsp; <a href="{{url_for('spectrum',
					spid=spec.spectrum_id)}}">
		{{ spec.name }}</a></td>
	    <td> &nbsp; {{ spec.elem_sym }}  {{ spec.edge }} edge </td>
	    </tr>
	 {% endfor %}
      {% endfor %}
    </table>
   {% endif %}
{% endif %}

</div>
{% endblock %}
