{% extends "layout.html" %}
{% block body %}

<div class=subtitle>Edit Spectrum:  {{ spectrum_name }}</div>
<div class=body>

<form action="{{ url_for('submit_spectrum_edits') }}" method=post>
  <input type=hidden name=person value={{person_id}}>
  <input type=hidden name=spectrum value={{spectrum_id}}>
  <table>
    <tr><td colspan=2> <hr> </td></tr>
    <tr><td>Name:</td><td>
	<input size=60 type=text name=name value='{{spectrum_name|safe}}'></td></tr>
    <tr><td> Mono d-spacing: </td><td>
	<input size=20 type=text name=d_spacing value={{d_spacing}}> &#197; </td></tr>
    <tr><td> Energy Resolution: </td><td>
	<input size=20 type=text name=e_resolution value={{e_resolution}}>  </td></tr>
    <tr><td> Element: </td><td>
	<select name='elem' style="width: 100px;">
	  {% for el in elems %}
	     <option value={{el.z}}
	      {% if el.symbol == elem_sym %} selected=1 {% endif %} >
	    {{ el.symbol }}</option>
	  {% endfor %}
	  </select>
    </td></tr>
    <tr><td> Edge:  </td><td>
	<select  name='edge' style="width: 100px;">
	  {% for e in edges %}
	   <option value={{e.id}}
	    {% if e.name == edge %} selected=1 {% endif %} >
	   {{ e.name }}</option>
	  {% endfor %}
	  </select>
	</td></tr>
    <tr><td> Energy Units:  </td><td>
	<select  name='energy_units' style="width: 100px;">
	  {% for e in eunits %}
	    <option value={{e.id}}
	      {% if e.name == energy_units %} selected=1 {% endif %} >
	    {{ e.units }}</option>
	  {% endfor %}
	  </select>
	</td></tr>

    <tr><td> Beamline: </td><td>
	<select  name='beamline' style="width: 350px;">
	  {% for bl in beamlines %}
	    <option value={{bl.id}} s
	      {% if bl.id == beamline_id  %} selected=1 {% endif %} >
                  {{ bl.name }}</option>
	  {% endfor %}
	  </select>
	</td></tr>
    <tr><td> Sample: </td><td>
	<select  name='sample' style="width: 350px;">
	  {% for sm in samples %}
	   <option value={{sm.id}}
	      {% if sm.id == sample_id  %} selected=1 {% endif %} >
	  {{ sm.name }} </option>
	  {% endfor %}
	</select>
	{% if session.username is not none %}
	    &nbsp;   &nbsp;
	    <a href="{{url_for('edit_sample', sid=sample_id)}}"> [edit this sample] </a>
	    &nbsp; &nbsp;
	{% endif %}
      </td></tr>
    <tr><td> User Comment: </td><td>
	<textarea cols=45  rows=10 type=text name=comments>{{raw_comments}}</textarea></td></tr>
  <tr><td colspan=2> <hr> </td></tr>
     <tr><td><input type=submit value=submit></td><td></td></tr>
    </table>
</form>
</div>
{% endblock %}
