{% extends "layout.html" %}
{% block body %}

<p> <div class=subtitle>Facilities</div>

<div class=body>
<hr>
<table cellspacing=3 cellpadding=1>
  <tr>
    <th> &nbsp; Abbreviation  &nbsp; </th>
    <th> &nbsp; Full Name  &nbsp; </th>
    <th> &nbsp; Laboratory  &nbsp; </th>
    <th> &nbsp; City / Region  &nbsp; </th>
    <th> &nbsp; Country  &nbsp;</th>
  </tr>
  {% for f in facilities %}
  <tr class={{ loop.cycle('odd', 'even') }}>
    <td>  <a href="{{ url_for('edit_facility', fid=f.id) }}"> {{f.name }} </a></td>
    <td> {{f.fullname }} </td>
    <td>  &nbsp; {{f.laboratory}}  &nbsp; </td>
    <td>  &nbsp; {{f.city}}  &nbsp; </td>
    <td>  &nbsp; {{f.country}}</td></tr>
  {% endfor %}
</table>

</div>
{% endblock %}
