{% extends "layout.html" %}
{% block body %}

<p> <div class=subtitle>Select Absorbing Element to list spectra:</div>



</p>

<div class=body>
<form action="filter"  method="post">
<input type=hidden name=elem value={{elem}}>
<table> <tr><td rowspan=10>

<table class=ptable cellpadding=0 cellspacing=0 border=0><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/H ">H </a></td>
<td colspan=16></td>
<td class=elem width=30><a href="{{url_for('elem')}}/He">He</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/Li">Li</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Be">Be</a></td>
<td colspan=2></td>
<td colspan=6 class=elem>
<a href="{{url_for('elem')}}/All">Show All Spectra</a>
</td>
<td colspan=2></td>


<td class=elem width=30><a href="{{url_for('elem')}}/B ">B </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/C ">C </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/N ">N </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/O ">O </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/F ">F </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ne">Ne</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/Na">Na</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Mg">Mg</a></td>
<td colspan=10></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Al">Al</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Si">Si</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/P ">P </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/S ">S </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cl">Cl</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ar">Ar</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/K ">K </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ca">Ca</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Sc">Sc</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ti">Ti</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/V ">V </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cr">Cr</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Mn">Mn</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Fe">Fe</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Co">Co</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ni">Ni</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cu">Cu</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Zn">Zn</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ga">Ga</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ge">Ge</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/As">As</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Se">Se</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Br">Br</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Kr">Kr</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/Rb">Rb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Sr">Sr</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Y ">Y </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Zr">Zr</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Nb">Nb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Mo">Mo</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Tc">Tc</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ru">Ru</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Rh">Rh</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pd">Pd</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ag">Ag</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cd">Cd</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/In">In</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Sn">Sn</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Sb">Sb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Te">Te</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/I ">I </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Xe">Xe</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/Cs">Cs</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ba">Ba</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/La">La</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Hf">Hf</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ta">Ta</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/W ">W </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Re">Re</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Os">Os</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ir">Ir</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pt">Pt</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Au">Au</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Hg">Hg</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Tl">Tl</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pb">Pb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Bi">Bi</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Po">Po</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/At">At</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Rn">Rn</a></td>
</tr><tr>
<td class=elem width=30><a href="{{url_for('elem')}}/Fr">Fr</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ra">Ra</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ac">Ac</a></td>
</tr><tr>
<td colspan=3></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ce">Ce</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pr">Pr</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Nd">Nd</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pm">Pm</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Sm">Sm</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Eu">Eu</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Gd">Gd</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Tb">Tb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Dy">Dy</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Ho">Ho</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Er">Er</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Tm">Tm</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Yb">Yb</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Lu">Lu</a></td>
</tr><tr>
<td colspan=3></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Th">Th</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pa">Pa</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/U ">U </a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Np">Np</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Pu">Pu</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Am">Am</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cm">Cm</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Bk">Bk</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Cf">Cf</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Es">Es</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Fm">Fm</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Md">Md</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/No">No</a></td>
<td class=elem width=30><a href="{{url_for('elem')}}/Lr">Lr</a></td>
</tr><tr>
</table>

</td></tr>
<tr><td width=5%> </td><td colspan=2>
Filter Spectra by Requiring Edge, Beamline, Rating
</td></tr>
<tr><td width=5%> </td><td colspan=2>
Measurement Mode, or Text in Name or Comment
</td></tr>
<tr><td></td><td>Edge: </td>
    <td><select  name='edge' style="width: 200px;">
     {% for e in edges %}
       <option value={{e.id}}
            {% if e.id == edge_id %} selected=1 {% endif %} >
        {{ e.name }}</option>
     {% endfor %}
     </select>
     </td></tr>

<tr><td></td><td>Beamline: </td>
    <td><select  name='beamline' style="width: 200px;">
	{% for bl in beamlines %}
	    <option value={{bl.id}}
	      {% if bl.id == beamline_id %} selected=1 {% endif %} >
              {{ bl.name }}</option>
	{% endfor %}
     </select>
</td></tr>

<tr><td></td><td>Mode: </td>
    <td><select  name='mode' style="width: 200px;">
     {% for e in modes %}
       <option value={{e.id}}
            {% if e.id == mode_id %} selected=1 {% endif %} >
        {{ e.name }}</option>
     {% endfor %}
     </select>
     </td></tr>

<tr><td></td><td>Rating: </td>
    <td><select  name='rating' style="width: 200px;">
         <option value='0' {% if rating_min == '0' %} selected=1 {% endif %} >Any</option>
         <option value='1' {% if rating_min == '1' %} selected=1 {% endif %} >1 or higher</option>
         <option value='2' {% if rating_min == '2' %} selected=1 {% endif %} >2 or higher</option>
         <option value='3' {% if rating_min == '3' %} selected=1 {% endif %} >3 or higher</option>
         <option value='4' {% if rating_min == '4' %} selected=1 {% endif %} >4 or higher</option>
         <option value='5' {% if rating_min == '5' %} selected=1 {% endif %} >5</option>

        </select>
   </td></tr>


<tr><td width=5%> </td><td>Text:</td>
<td><input size=40 type=text name=searchphrase value={{ searchword }}></td></tr>
<tr><td width=5%> </td><td colspan=2>
<input class='submitbutton' type=submit value='Apply Filter'</div>
</td></tr>
</table>
</form>


<div class=spectra>
<hr>

{% if nspectra == 0 %}
   {% if elem is not none %}
      No spectra found for {{ elem }}
   {% endif %}
   {% if ntotal > nspectra %}  (filtered from {{ ntotal }}) {% endif %}
{% else %}
   {% if nspectra == 1 %}
      {{ nspectra }} spectrum for {{ elem }}
   {% else %}
      {{ nspectra }} spectra for {{ elem }}
   {% endif %}
   {% if ntotal > nspectra %}  (filtered from {{ ntotal }}) {% endif %}

&nbsp;&nbsp; - &nbsp;
click on heading labels to toggle sorting:

   <table cellspacing=5 cellpadding=2>
     <tr>
       <td><a href="{{url_for('elem')}}/{{elem}}/name/{{reverse}}">
	   &nbsp; Name &nbsp;</a></td>
       <td><a href="{{url_for('elem')}}/{{elem}}/edge/{{reverse}}">
	   &nbsp; Edge &nbsp;</a></td>
       <td><a href="{{url_for('elem')}}/{{elem}}/beamline/{{reverse}}">
	   &nbsp; Beamline &nbsp;</a></td>
       <td><a href="{{url_for('elem')}}/{{elem}}/rating_summary/{{reverse}}">
	   &nbsp; Rating &nbsp;</a></td>
     </tr>
   {% for spec in spectra %}
        <tr class={{ loop.cycle('odd', 'even') }}>

	<td> &nbsp; &nbsp; <a href="{{url_for('spectrum', spid= spec.id)}}"> {{ spec.name }}</a></td>
	<td> &nbsp; {{ spec.edge }} </td>
	<td> &nbsp; {{ spec.beamline_desc }} </td>
	<td> &nbsp; {{ spec.rating }} </td>
   </tr>
   {% endfor %}
   </table>
{% endif %}

</div>
</div>

{% endblock %}
