{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}
{% endif %}


<div id='tab'>
<ul id='tabmenu'>
  <li> <a href="{{ url_for('about') }}"> Get Help</a> </li>
  <li> <a href="{{ url_for('suites') }}">Browse Suites</a> </li>
  <li> <a href="{{ url_for('beamlines') }}">Browse Beamlines</a> </li>

  {% if session.logged_in %}
  <li> <a href="{{ url_for('upload') }}">Upload Data</a></li>
  <li> <a href="{{ url_for('user') }}">Edit Profile</a></li>
  {% endif %}
</ul>
</div>

<p>

<form action="action"  method="post">
<table id="ptable" cellpadding=0 cellspacing=0 border=0><tr>
<th id="elem" width=30><a href="./H ">H </a></th>
<th colspan=16></th>
<th id="elem" width=30><a href="./He">He</a></th>
</tr><tr>
<th id="elem" width=30><a href="./Li">Li</a></th>
<th id="elem" width=30><a href="./Be">Be</a></th>
<th colspan=10></th>
<th id="elem" width=30><a href="./B ">B </a></th>
<th id="elem" width=30><a href="./C ">C </a></th>
<th id="elem" width=30><a href="./N ">N </a></th>
<th id="elem" width=30><a href="./O ">O </a></th>
<th id="elem" width=30><a href="./F ">F </a></th>
<th id="elem" width=30><a href="./Ne">Ne</a></th>
</tr><tr>
<th id="elem" width=30><a href="./Na">Na</a></th>
<th id="elem" width=30><a href="./Mg">Mg</a></th>
<th colspan=10></th>
<th id="elem" width=30><a href="./Al">Al</a></th>
<th id="elem" width=30><a href="./Si">Si</a></th>
<th id="elem" width=30><a href="./P ">P </a></th>
<th id="elem" width=30><a href="./S ">S </a></th>
<th id="elem" width=30><a href="./Cl">Cl</a></th>
<th id="elem" width=30><a href="./Ar">Ar</a></th>
</tr><tr>
<th id="elem" width=30><a href="./K ">K </a></th>
<th id="elem" width=30><a href="./Ca">Ca</a></th>
<th id="elem" width=30><a href="./Sc">Sc</a></th>
<th id="elem" width=30><a href="./Ti">Ti</a></th>
<th id="elem" width=30><a href="./V ">V </a></th>
<th id="elem" width=30><a href="./Cr">Cr</a></th>
<th id="elem" width=30><a href="./Mn">Mn</a></th>
<th id="elem" width=30><a href="./Fe">Fe</a></th>
<th id="elem" width=30><a href="./Co">Co</a></th>
<th id="elem" width=30><a href="./Ni">Ni</a></th>
<th id="elem" width=30><a href="./Cu">Cu</a></th>
<th id="elem" width=30><a href="./Zn">Zn</a></th>
<th id="elem" width=30><a href="./Ga">Ga</a></th>
<th id="elem" width=30><a href="./Ge">Ge</a></th>
<th id="elem" width=30><a href="./As">As</a></th>
<th id="elem" width=30><a href="./Se">Se</a></th>
<th id="elem" width=30><a href="./Br">Br</a></th>
<th id="elem" width=30><a href="./Kr">Kr</a></th>
</tr><tr>
<th id="elem" width=30><a href="./Rb">Rb</a></th>
<th id="elem" width=30><a href="./Sr">Sr</a></th>
<th id="elem" width=30><a href="./Y ">Y </a></th>
<th id="elem" width=30><a href="./Zr">Zr</a></th>
<th id="elem" width=30><a href="./Nb">Nb</a></th>
<th id="elem" width=30><a href="./Mo">Mo</a></th>
<th id="elem" width=30><a href="./Tc">Tc</a></th>
<th id="elem" width=30><a href="./Ru">Ru</a></th>
<th id="elem" width=30><a href="./Rh">Rh</a></th>
<th id="elem" width=30><a href="./Pd">Pd</a></th>
<th id="elem" width=30><a href="./Ag">Ag</a></th>
<th id="elem" width=30><a href="./Cd">Cd</a></th>
<th id="elem" width=30><a href="./In">In</a></th>
<th id="elem" width=30><a href="./Sn">Sn</a></th>
<th id="elem" width=30><a href="./Sb">Sb</a></th>
<th id="elem" width=30><a href="./Te">Te</a></th>
<th id="elem" width=30><a href="./I ">I </a></th>
<th id="elem" width=30><a href="./Xe">Xe</a></th>
</tr><tr>
<th id="elem" width=30><a href="./Cs">Cs</a></th>
<th id="elem" width=30><a href="./Ba">Ba</a></th>
<th id="elem" width=30><a href="./La">La</a></th>
<th id="elem" width=30><a href="./Hf">Hf</a></th>
<th id="elem" width=30><a href="./Ta">Ta</a></th>
<th id="elem" width=30><a href="./W ">W </a></th>
<th id="elem" width=30><a href="./Re">Re</a></th>
<th id="elem" width=30><a href="./Os">Os</a></th>
<th id="elem" width=30><a href="./Ir">Ir</a></th>
<th id="elem" width=30><a href="./Pt">Pt</a></th>
<th id="elem" width=30><a href="./Au">Au</a></th>
<th id="elem" width=30><a href="./Hg">Hg</a></th>
<th id="elem" width=30><a href="./Tl">Tl</a></th>
<th id="elem" width=30><a href="./Pb">Pb</a></th>
<th id="elem" width=30><a href="./Bi">Bi</a></th>
<th id="elem" width=30><a href="./Po">Po</a></th>
<th id="elem" width=30><a href="./At">At</a></th>
<th id="elem" width=30><a href="./Rn">Rn</a></th>
</tr><tr>
<th id="elem" width=30><a href="./Fr">Fr</a></th>
<th id="elem" width=30><a href="./Ra">Ra</a></th>
<th id="elem" width=30><a href="./Ac">Ac</a></th>
</tr><tr>
<th colspan=3></th>
<th id="elem" width=30><a href="./Ce">Ce</a></th>
<th id="elem" width=30><a href="./Pr">Pr</a></th>
<th id="elem" width=30><a href="./Nd">Nd</a></th>
<th id="elem" width=30><a href="./Pm">Pm</a></th>
<th id="elem" width=30><a href="./Sm">Sm</a></th>
<th id="elem" width=30><a href="./Eu">Eu</a></th>
<th id="elem" width=30><a href="./Gd">Gd</a></th>
<th id="elem" width=30><a href="./Tb">Tb</a></th>
<th id="elem" width=30><a href="./Dy">Dy</a></th>
<th id="elem" width=30><a href="./Ho">Ho</a></th>
<th id="elem" width=30><a href="./Er">Er</a></th>
<th id="elem" width=30><a href="./Tm">Tm</a></th>
<th id="elem" width=30><a href="./Yb">Yb</a></th>
<th id="elem" width=30><a href="./Lu">Lu</a></th>
</tr><tr>
<th colspan=3></th>
<th id="elem" width=30><a href="./Th">Th</a></th>
<th id="elem" width=30><a href="./Pa">Pa</a></th>
<th id="elem" width=30><a href="./U ">U </a></th>
<th id="elem" width=30><a href="./Np">Np</a></th>
<th id="elem" width=30><a href="./Pu">Pu</a></th>
<th id="elem" width=30><a href="./Am">Am</a></th>
<th id="elem" width=30><a href="./Cm">Cm</a></th>
<th id="elem" width=30><a href="./Bk">Bk</a></th>
<th id="elem" width=30><a href="./Cf">Cf</a></th>
<th id="elem" width=30><a href="./Es">Es</a></th>
<th id="elem" width=30><a href="./Fm">Fm</a></th>
<th id="elem" width=30><a href="./Md">Md</a></th>
<th id="elem" width=30><a href="./No">No</a></th>
<th id="elem" width=30><a href="./Lr">Lr</a></th>
</tr><tr>
</table>
</form>


<div id='spectra'>
<hr>
{% if nspectra == 0 %}
   {% if elem is not none %}
      No spectra found for {{ elem }}
   {% endif %}
{% else %}
   {% if nspectra == 1 %}
      {{ nspectra }} spectrum for {{ elem }}:
   {% else %}
      {{ nspectra }} spectra for {{ elem }}:
   {% endif %}
   <table cellspacing=5 cellpadding=2>
   {% for spec in spectra %}
       <tr><td id='spectra'>
           <a href="../spectrum/{{ spec.id }}"> {{ spec.name }}</a>
        </td><td> {{ spec.edge }} edge </td></tr>
   {% endfor %}
   </table>
{% endif %}

</div>
{% endblock %}
