{% extends "layout.html" %}
{% block body %}


<div class=subtitle> Spectrum: {{spectrum_name}} </div>
<div class=body>

{% if session.username is not none %}

Enter Rating (0 to 5:  0=worst, 5=best):
<p>

<form action="{{ url_for('submit_spectrum_rating') }}" method=post>
    <input type=hidden name=person value={{person_id}}>
    <input type=hidden name=spectrum value={{spectrum_id}}>
    <input type=hidden name=spectrum_name value={{spectrum_name}}>
    <table>
      <tr><td>Score:</td><td><input size=10 type=text name=score value={{score}}></td></tr>
      <tr><td>Review:</td><td><textarea cols=75 rows=10 type=text name=review>{{review}}
                              </textarea></td></tr>
      <tr><td><input type=submit value=submit></td><td></td></tr>
    </table>
</form>
{% else %}
You must be logged in to rate a spectrum.
{% endif %}

</div>

{% endblock %}
