{% extends "layout.html" %}
{% block body %}

<p> <div class=subfont> Sample</div>

<div id='spectra'>
<hr>

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="../edit_sample/{{id}}"> [edit this sample] </a>
{% endif %}
<p>


<table>
<tr><td colspan=2> <hr> </td></tr>
<td width=25%> Name: </td> <td>  {{name}} </td></tr>
<td width=25%> Formula: </td> <td>  {{formula}} </td></tr>
<td width=25%> Notes: </td> <td>  {{notes}} </td></tr>
<td width=25%> Preparation: </td> <td>  {{preparation}} </td></tr>
</table>


</div>
{% endblock %}
