{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form action="action"  method="post">

<p> <div class=subfont> Spectrum  {{ spectrum_name }}
{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="../rate_spectrum/{{ spectrum_id }}"> [rate this spectrum] </a>
{% endif %}
{% if spectrum_owner %}
&nbsp;   &nbsp;
  <a href="../editspectrum/{{ spectrum_id }}"> [edit this spectrum] </a>
 {% endif %}
</div> <p>

<table>
<tr><td width=20%> Original Data File: </td>
    <td> <a href="../rawfile/{{ spectrum_id }}/{{ spectrum_name }}.xdi">
             {{ spectrum_name }}.xdi </a>
    </td>
<tr><td width=20%> Ratings: </td>
    <td> <a href="../showratings/{{ spectrum_id }}/"> {{ rating }} </a>
    </td></tr>
<tr><td> Absorption Edge: </td>
    <td> {{ elem_sym }} {{ edge }} edge
    </td></tr>
<tr><td> Sample Name: </td>
    <td>  {{sample_form}}   </td></tr>
<tr><td> Sample Preparaion: </td>
    <td>  {{sample_prep}}     </td></tr>
<tr><td> Beamline: </td>
    <td>  {{beamline}}     </td></tr>
<tr><td> Energy Units: </td>
    <td>  {{energy_units}}  </td></tr>
<tr><td> Mono d-spacing: </td>
    <td>   {{dspace}} &Acirc;  ({{mononame}})   </td></tr>
<tr><td> Measured: </td>
    <td>  {{collection_date}}     </td></tr>
<tr><td> Uploaded: </td>
    <td>  {{upload_date}}, {{ person_name }} ({{ person_email }})
    </td></tr>
<tr><td colspan=2> <hr> </td></tr>
<tr><td colspan=2> &nbsp;&nbsp;&nbsp; <i>unsorted file headers:</i> </td></tr>

{% for x in misc %}
   <tr><td> {{x.key}}: </td><td> {{x.val}} </td></tr>
{% endfor %}

<tr><td colspan=2> <hr> </td></tr>


</table>

<table> <tr><td><img src="data:image/png;base64,{{ fullfig|safe }}"></td>
<td> <img src="data:image/png;base64,{{ xanesfig|safe }}"><br></td></tr></table>

</form>
{% endblock %}
