{% extends "layout.html" %}
{% block body %}
<p> <div class=subfont> Suites of Spectra</div>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="../add_suite"> [add a suite] </a>
{% endif %}
</div>

<div id='spectra'>
<hr>
{% if nsuites == 0 %}
      No suites defined.
{% else %}
   <table cellspacing=5 cellpadding=2>
   {% for s in suites %}
       <tr><td id='spectra'>
           <a href="../suites/{{ s.id }}"> {{ s.name }}</a></td>
        <td> {{ s.nspectra }} spectra:   {{ s.notes|safe }} </td>
        <td> <a href="../showsuite_rating/{{ s.id }}"> {{ s.rating }} </a></td>
        {% if session.username is not none %}
           <td>  &nbsp;   &nbsp;
             <a href="../rate_suite/{{s.id}}"> [rate this suite] </a></td>
           <td>  &nbsp;   &nbsp;
             <a href="../del_suite/{{s.id}}/ask=1"> [delete this suite] </a></td>
        {% endif %}
        </tr>
   {% endfor %}
   </table>
   {% if nsuites == 1 %}
    Spectra:
    <table>
      {% for suite in suites %}
          {% for spec in suite.spectra %}
           <tr><td id='spectra'>
              &nbsp;   &nbsp;
               <a href="../spectrum/{{ spec.spectrum_id }}"> {{ spec.name }}</a>
           </td><td> &nbsp; {{ spec.elem_sym }} {{spec.edge}} edge </td></tr>
          {% endfor %}
      {% endfor %}
    </table>
   {% endif %}
{% endif %}

</div>
{% endblock %}
