{% extends "layout.html" %}
{% block body %}
<p> <div class=subfont> Suites of Spectra</div>

{% if session.username is not none %}
  &nbsp;   &nbsp;
  <a href="{{url_for('add_suite')}}"> [add a suite] </a>
{% endif %}
<p>

<div id='spectra'>
<hr>
{% if nsuites == 0 %}
      No suites defined.
{% else %}
   <table cellspacing=0 cellpadding=4 border=0>
   <tr><th>Name</th><th> # Spectra</ht><th> Ratings</th><th></th><th></th></tr>
   {% for s in suites %}
       <tr id="{{ loop.cycle('odd', 'even') }}" >
       <td>
	   <a href="{{url_for('suites')}}/{{ s.id }}"> {{ s.name }}</a></td>
	<td align=center> {{ s.nspectra }} </td>
       <td> <a href="{{url_for('showsuite_rating', stid=s.id)}}"> {{s.rating}}</td>
	{% if session.username is not none %}
	   <td>  &nbsp;   &nbsp;
	     <a href="{{url_for('rate_suite', stid=s.id)}}"> [rate suite] </a></td>
	   {% if s.suite_owner %}
		<td>  &nbsp;   &nbsp;
		 <a href="{{url_for('edit_suite', stid=s.id)}}"> [edit suite] </a></td>
		<td>  &nbsp;   &nbsp;
		 <a href="{{url_for('delete_suite', stid=s.id, ask=1)}}"> [delete suite] </a></td>
	   {% endif %}
	{% endif %}
	</tr>
       <tr id="{{ loop.cycle('odd', 'even') }}">
	 <td></td><td colspan=4>{{s.notes|safe}}</td></tr>
      </tr>

   {% endfor %}
   </table>
   {% if nsuites == 1 %}
    Spectra:
    <table>
      {% for suite in suites %}
	  {% for spec in suite.spectra %}
	    <tr id="{{ loop.cycle('odd', 'even') }}" >
	    <td> &nbsp; &nbsp; <a href="{{url_for('spectrum')}}{{ spec.spectrum_id }}"> {{ spec.name }}</a></td>
	    <td> &nbsp; {{ spec.elem_sym }}  {{ spec.edge }} edge </td>
	    </tr>
	 {% endfor %}
     {% endfor %}
    </table>
   {% endif %}
{% endif %}

</div>
{% endblock %}
