{% extends "layout.html" %}
{% block body %}

<div class=subtitle> Upload XDI Spectra</div>
<div class=body>

Note: The uploaded file must
be a valid
XAS-Data-Interchange (XDI) file,
and have an extension of '.xdi'.

<p>
For a detailed description, see <a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/blob/master/specification/spec.md'>
  XAS Data Interchange Specification</a>. <br>

For example files, see
<a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/tree/master/data'>
  Example XDI data</a>  and the files available from this library.


</p>

<form action="{{ url_for('submit_upload') }}"
    method=post enctype=multipart/form-data>
    <input type=hidden name=person value={{person_id}}>
    <input type=file name=file> <br> <input type=submit value=upload>
</form>
</div>

{% endblock %}
