{% extends "layout.html" %}
{% block body %}

<div class=subtitle> Upload XDI Spectra</div>
<div class=body>

Note: The uploaded file must
be a valid
XAS-Data-Interchange (XDI) file,
and have an extension of '.xdi'.

<p>
For a detailed description, see <a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/blob/master/specification/spec.md'>
  XAS Data Interchange Specification</a>. <br>

For example files, see
<a href='https://github.com/XraySpectroscopy/XAS-Data-Interchange/tree/master/data'>
  Example XDI data</a>  and the files available from this library.

</p>

<form action="{{ url_for('submit_upload') }}"
    method=post enctype=multipart/form-data>
<input type=hidden name=person value={{person_id}}>

<table>
<tr><td>XDI Data File: </td>
<td><input id=fileinput type=file name=file>
</td>
</tr>
<tr><td>Spectrum Name: </td>
<td><input size=60 type=text name=spectrum_name> </td>
</tr>
<tr><td colspan=2>
<input class='submitbutton' type=submit value=Upload></div>
</td></tr>
</table>
</form>

</div>

{% endblock %}
