{% extends "layout.html" %}
{% block body %}
<h4>Login: </h4>


<form action="{{ url_for('login') }}" method=post>
    <table>
      <tr><td>Email:</td><td><input size=60 type=text name=email></td></tr>
      <tr><td>Password:</td><td><input size=60 type=password name=password></td></tr>
      <tr><td><input type=submit name=button value=login></td>
    </table>
</form>

<p>
  <a href="{{ url_for('create_account') }}">Create New Account</a>

  &nbsp; &nbsp; &nbsp;

  <a href="{{ url_for('password_reset_request') }}">Reset Password</a></p>

{% endblock %}
