{% extends "layout.html" %}
{% block body %}


<h4>Reset Your Password</h4>


Reset password for {{email}}

<p>

  <form action="{{ url_for('setnewpassword') }}" method=post>
    <input type=hidden name=hash  value={{hash}}>
    <input type=hidden name=email value={{email}}>
    <table>
      <tr><td>Password:       </td>
	<td><input size=60 type=password name=password value=''></td>
      </tr>
      <tr><td>Repeat Password:</td>
	<td><input size=60 type=password name=password2 value=''></td>
      </tr>
      <tr><td><input type=submit name=button value='Reset Password'></td>
    </table>
  </form>

{% endblock %}
