
a, h1, h2       { color: #5060C0; text-decoration: none; }.
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 1px solid #eee; }
h2              { font-size: 1.2em; }

.body  { font-family: sans-serif; margin:5px; padding:2px;
	 background: #FFFFFF; font: 12px verdana, sans-serif;}
.body a, a.active {color: #4444AA; solid #880000 ; text-decoration: none; }
.body a.active    {color: #CC0000;  background: #FAFAE0;}
.body a:hover     {color: #CC0000;  background: #FAFAE0;}

.even {background-color: #F3F3F0;}
.odd {background-color: #FFFFFF;}

.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.2em 30em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 0px solid #ccc; }

.warning  { background: #cee5F5; padding: 0.5em; border: 3px solid #aacbe2; }
.error    { background: #f0d6d6; padding: 0.5em; border: 3px solid #702020; }

.topbar {font: bold 16px verdana, arial, sans-serif;
	 padding: 5px;	 text-decoration: none;	 color: #FFFFFF;
	 background: #2090B0;}

.topbar a        {background: #2090A0; color: #FFFFFF; margin: 10px}
.topbar a:hover  {background: #60B0E0; color: #FFEF60; margin: 10px}

.subfont {font:bold 16px verdana, arial, sans-serif;color:#CC0000;}
.subtitle {font:bold 16px verdana, arial, sans-serif;color:#CC0000;}

.confirm {font-family: sans-serif; margin:5px; padding:2px;
	  background: #FFFFFF; font:bold 14px verdana,sans-serif;}
.confirm a, a.active {color: #444AAA;  font:bold 14px verdana,sans-serif;}

pre {text-indent: 16px}
h5 {font:bold 12px verdana,arial,sans-serif;color:#042264;}
h4 {font:bold 14px verdana,arial,sans-serif;color:#042264;}
h3 {font:bold 16px verdana,arial,sans-serif;color:#A42424; font-weight:bold;font-style:italic;}

h2 {font:bold 18px verdana,arial,sans-serif;color:#044484;font-weight:bold;}

.ptable {background:#FFFFFD;}

.elem {font: bold 16px verdana; background:#FFFFFD; text-align:justify; padding: 2px;}
.elem a, a.active {color: #4444AA; solid #880000 ; text-decoration: none; }
.elem a.active {color: #CC0000;  background: #FFFFFD;}
.elem a:hover  {color: #CC0000;  background: #FAFAE0;}

.spectra {text-align:justify;}
.spectra a, a.active {color: #4444AA; solid #880000 ; text-decoration: none; }
.spectra a.active {color: #CC0000;  background: #FAFAE0;}
.spectra a:hover {color: #CC0000;  background: #FAFAE0;}

.tabmenu { font: bold 12px verdana, arial, sans-serif;
    margin: 0px;    padding: 2px;    padding-left: 8px;
    border-left:   3px solid #777777;
    border-right:  3px solid #777777;
    border-top:    3px solid #777777;
    border-bottom: 3px solid #777777;}

.tabmenu ul {margin: 0px;  padding: 10px}
.tabmenu li {display: inline;  margin: 0px; list-style-type: none; }
.tabmenu a, a.active {color: #4444AA; border-right: 3px solid #777777;  padding: 1px 12px 1px 12px;}
.tabmenu a.active {color: #CC0000; background: #FCFCCC;}
.tabmenu a:hover {color: #CC0000; background: #FCFCCC;}

.input[type=submit] {    border: 1px solid #f44c0e;    color: #fff;    background: tomato;    padding: 100px 20px;    border-radius: 3px; }
.input[type=submit]:hover {    background: #f44c0e; }


.formsubmit input[type=submit] {background: #FE8;
    color: red;
    border-style: outset;
    border-color: #FD0;
    height: 30px;
    width: 100px;
    font: bold 17px arial, sans-serif;
    text-shadow:none;
}

.formsubmit input[type=submit] {background: #FE8;
    color: red;
    border-style: outset;
    border-color: #FD0;
    height: 30px;
    width: 100px;
    font: bold 17px arial, sans-serif;
    text-shadow:none;
}


#submitbutton {background: #FAFAFE0;
	       color: blue;
	       border-color: #D0D080;
	       border-style: outset;
	       border-radius: 4px;
	      }

#fileinput {background: #FEFEFE;
	     color: blue;
	     border-color: #FEFEFE;
	     border-radius: 4px;
	    }

#fileinput.button {background: #FEFEFE;
		   color: blue;
		   border-color: #FEFEFE;
		   border-radius: 4px;
	    }
